* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* Home page */

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(1, 0, 5, 0.3), rgba(4, 1, 17, 0.3));
}

nav {
  width: 100%;
  position: fixed;
  background-color: rgb(21, 74, 74);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 90px;
  margin: 2vh;
  margin-left: 8%;
  border-radius: 40px;
}
nav .text {
  color:#fff;
  font-size: 40px;
  
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.navbar {
  font-weight: bold;
  display: flex;
  margin-right: 4vh;
}

.navbar a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: ease 0.4s;
}

.navbar a:hover,
.navbar a.active {
  background: black;
  color:white;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 5px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
 cursor: pointer;
 display: none;
}
#check{
  display: none;
}

.title {
  text-decoration: none;
  /* display: inline-block; */
  font-size: 4vh;
  color: rgb(255, 255, 255);
  padding: 14px 17px;
  margin-top: 32vh;
  text-align: center;
  vertical-align: center;
}

.title h1 {
  font-size: 10vh;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.title h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.button {
  display: inline-block;
  margin-top: 5vh;
  font-size: 25px;
  padding: 10px 30px;
  color: rgb(21, 74, 74);
  /* background-color:rgb(164, 44, 44); */
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  transition: ease 0.3s;
}

.button:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(21, 74, 74);
  /* border: 2px solid rgb(42, 37, 68); */
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
}

@media screen and (max-width: 1520px) {
  .nav{
    width: 70%;
  }
  nav .logo {
    width: 90px;
    margin: 2vh;
    margin-left: 8%;
    border-radius: 40px;
  }
  .nav ul li {
    font-size: 14px;
  font-weight: bold;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 00;
   }
   .navbar a {
    font-size: 15px;
   }
   
}
@media (max-width: 1220px) { 
  nav ul li a{
    font-size: 15px;
  }

}
@media (max-width: 952px) {
  nav .logo {
    width: 40px;
    margin: 2vh;
    margin-left: 4%;
    border-radius: 40px;
  }
  nav .text {
    color: #fff;
    font-size: 20px;
  }
  nav ul li {
    flex-direction: column;
    margin-left: 20px;
  }
  nav ul li a{
    font-size: 13px;
  }
}
@media (min-width: 640px) {
  nav .logo {
    
    
    margin-bottom: 4px;
  }
  nav .text {
    color: #fff;
    font-size: 30px;
    margin-left: -30px;
  }
  
  
  
  

} 


/*.navbar-toggler {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background: url("path/to/toggler-icon.png") no-repeat center;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  transform: rotate(90deg);
} */



/* Services */



.text h2 {
  font-size: 40px;
  font-weight: 650;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 2;
  text-align: center;
}

.rowitems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 25px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.container-box {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 50px 10px;
  transition: all 0.7s ease 0s;
  cursor: pointer;
}

.container-image img {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin-bottom: 15px;
}

.container-box h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 550;
}

.container-box p {
  font-size: 16px;
  color: #808080;
}

.container-box:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
  border: 1px solid transparent;
  border-radius: 0px;
}

@media screen and (max-width: 920px) {
  .location-content {
    grid-template-columns: repeat(2, auto);
  }
}
/* Packages */

.package-title {
  text-align: center;
}

.package-title h2 {
  font-size: 40px;
  font-weight: 650;
  padding-top: 75px;
  padding-bottom: 10px;
  line-height: 2;
}

.package-content {
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(4, auto);
}
.box {
  padding: 10px;
  box-shadow: 2px 3px 5px black;
  border-radius: 20px;
}
.image {
  position: relative;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  filter: brightness(95%);
  width: 350px;
}

.image img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.image h3 {
  color: white;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  top: 20px;
  right: 20px;
  background: #000;
}

.dest-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 50px;
}

.location h4 {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2px;
}

.pac-details li {
  font-size: 19px;
  color: #4c4c4c;
  margin-left: 15px;
  margin-bottom: 2px;
  list-style-type: disc;
}

.image:hover {
  filter: brightness(120%);
  transform: scale(1.03);
}

@media screen and (max-width: 1520px) {
  .package-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 1220px) {
  .package-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 920px) {
  .package-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .box {
    width: 300px;
    height: 450px;
    padding: 10px;
    border-spacing: 30px;
    box-shadow: 1px 2px 5px black;
   
    border-radius: 20px;
  }
  .image {
    width: 400px;
    height: 200px;
  }
  .image img {
    width: 30%;
    height:  100px;
    border-radius: 20px;
  }
  .image h3 {
    font-size: 10px;
    font-weight: 400;
    top: 10px;
    
    right: 20px;
    
  }
  
}
@media screen and (max-width: 640px) {
  .package-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

}
/* Locations */

.location-content {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(5, auto);
}
.location-content > a {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 1520px) {
  .location-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 1220px) {
  .location-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 920px) {
  .location-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 620px) {
  .location-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}
.col-content {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  flex-basis: 30%;
  margin-bottom: 20px;
}

.col-content img {
  margin-bottom: 40px;
  width: 100%;
  height: 200px;
  border-radius: 27px;
}

.col-content h5 {
  position: absolute;
  font-size: 25px;
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 1px 5px;
  border-radius: 4px;
  font-weight: 500;
  left: 20px;
  bottom: 105px;
  cursor: pointer;
}

.col-content p {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 20px;
  bottom: 80px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 1px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.col-content:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

/* CSS code for tablet */
@media screen and (max-width: 768px) {
  .location-content {
    grid-template-columns: repeat(2, auto);
  }
  .col-content {
    flex-direction: column;
    flex-basis: 45%;
    margin-bottom: 15px;
  }
  .col-content img {
    flex-direction: column;
  }

  .col-content h5 {
    font-size: 16px;
    bottom: 70px;
  }

  .col-content p {
    font-size: 14px;
    bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .col-content {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .col-content h5 {
    font-size: 14px;
    bottom: 60px;
  }

  .col-content p {
    font-size: 12px;
    bottom: 40px;
  }
}

/* Newsletter */

.newsletter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.newstext h2 {
  margin-top: 100px;
  font-size: 38px;
}

.newstext p {
  font-size: 20px;
  color: #4c4c4c;
}

.newsletter form {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 300px;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 20px 150px 20px 30px;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.newsletter form input:last-child {
  display: inline-block;
  position: absolute;
  outline: none;
  border: 2px solid transparent;
  border-radius: 20px;
  color: white;
  background-color: rgb(21, 74, 74);
  padding: 14px 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 450;
  top: 6px;
  right: 6px;
  transition: ease 0.3s;
}

.newsletter form input:last-child:hover {
  border: 2px solid rgb(21, 74, 74);
  background-color: white;
  color: rgb(21, 74, 74);
}

/* Footer */

.footer {
  margin-top: 80px;
  background-color: rgb(21, 74, 74);
}

.foot {
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footlinks h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.footlinks h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  left: 0;
  bottom: -7px;
  background: white;
}

.footlinks ul li {
  margin-bottom: 15px;
}

.footlinks ul li a {
  font-size: 17px;
  color: #dddddd;
  display: block;
  transition: ease 0.3s;
}

.footlinks ul li a:hover {
  transform: translate(6px);
  color: white;
}

.social a {
  font-size: 25px;
  margin: 4px;
  height: 40px;
  width: 40px;
  color: rgb(21, 74, 74);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: ease 0.3s;
}

.social a:hover {
  transform: scale(1.2);
}

.end {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 12px;
}

.end p {
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}

/* About Us */

.aboutbody {
  background-color: #191919;
}

.about {
  width: 100%;
  padding: 78px 0px;
}
#aboutus .container h1 {
  font-family: "poppins" sans-serif;
  color: #fff;
}

.about img {
  height: 300px;
  width: 300px;
  border-radius: 100px;
}

.abt-text {
  width: 400px;
}

.abt-text h1 {
  font-size: 90px;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.abt-text h1 span {
  color: #fc0050;
  letter-spacing: 1px;
}

.abt-text p {
  color: white;
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.connectbtn {
  display: inline-block;
  background-color: #fc0050;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.4s;
  border: 2px solid transparent;
  letter-spacing: 1px;
}

.connectbtn:hover {
  background-color: transparent;
  border: 2px solid #fc0050;
  transform: scale(1.1);
}

.connect-section {
  margin-top: 26px;
}

.social-icons a {
  height: 40px;
  width: 40px;
  margin: 4px;
  font-size: 30px;
  color: #101010;
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Contact Us */

.contactbody {
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  padding: 110px 30%;
  height: 100%;
  min-height: 100vh;
}

.contact-form h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
}

.contact-form h1 span {
  color: #fc0050;
}

.contact-form p {
  color: white;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 23px;
  margin-bottom: 20px;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background-color: #191919;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-form form .submit-btn {
  display: inline-block;
  background-color: #fc0050;
  font-size: 27px;
  font-weight: 600px;
  border: 2px solid transparent;
  border-radius: 40px;
  width: 220px;
  cursor: pointer;
  transition: ease 0.3s;
}

.contact-form form .submit-btn:hover {
  border: 2px solid #fc0050;
  background-color: transparent;
  transform: scale(1.1);
}

/* Registration Form */

.register-body {
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration {
  padding: 110px 30%;
  height: 100%;
  min-height: 100vh;
}

.register-form h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
}
.register-form h1 span {
  color: #fc0050;
}

.register-form {
  color: white;
  font-size: 20px;
}

.register-form form input {
  color: white;
  padding: 17px;
  background-color: #191919;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
.register-form h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  color: #fc0050;
}

.register-form form .submitbtn {
  display: inline-block;
  background-color: #fc0050;
  font-size: 27px;
  font-weight: 600px;
  border: 2px solid transparent;
  border-radius: 60px;
  width: 220px;
  cursor: pointer;
  transition: ease 0.3s;
}

.register-form form .submitbtn:hover {
  border: 2px solid #fc0050;
  background-color: transparent;
  transform: scale(1.1);
}

.location-body {
  background-color: #191919;
  color: white;
}

.location-section {
  padding: 110px;
  height: 100%;
  min-height: 100vh;
}

.location-heading h1 {
  margin-top: 20px;
  font-size: 60px;
  margin-bottom: 20px;
}

.location-heading h1 span {
  color: #fc0050;
}

.location-detail h1 {
  padding-top: 60px;
  color: #fc0050;
  font-size: 40px;
}

.location-detail p {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.location-img img {
  height: 400px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.stars i {
  font-size: 20px;
  color: rgb(197, 167, 44);
}
